@import url("modules-theme.css");

.tool {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

input, select {
  width: 90%;
  text-align: center;
}


button {
  padding: 10px 18px;
  border-radius: 10px;
}

.auto-btn {
  width: auto;
  min-width: 180px;
  max-width: 100%;
}


@media (max-width: 600px) {
  .auto-btn {
    width: auto;
  }
}

